<div class="home-container">
  <h1>
    Apoio Digital feito pela 
    <span class="equipe" (click)="irParaSobre()">Equipe Tucunaré</span>
  </h1>

  <p>
    Este projeto tem como objetivo fornecer suporte digital e inclusão tecnológica para pessoas que necessitam de orientação no uso de ferramentas online. Nossa equipe busca criar soluções acessíveis e intuitivas.
  </p>

  <div class="imagens-container">
    <div class="imagem-box">
      <img src="/logo_app.jpg" alt="Logo do App" class="imagem-projeto">
      <p class="legenda">Logo do App</p>
    </div>
    <div class="imagem-box">
      <img src="/equipe.jpg" alt="Equipe" class="imagem-projeto">
      <p class="legenda">Equipe</p>
    </div>
  </div>
</div>
